@page
@model MyStore2.Pages.Persons.IndexModel
@{
}
<br>
<h2>List of Persons</h2>
<a class='btn btn-primary btn-sm' href='/Persons/Create'>New Person</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
           @* <th>Phone</th>*@
            <th>Address</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.personList)
        {
            <tr>
                <td>@item.userid</td>
                <td>@item.firstName</td>
                <td>@item.lastName</td>
                <td>@item.address</td>
                <td>@item.created_at</td>
                <td>
                    <a class="btn btn-primary" href="/Persons/Edit?userid= + @item.userid">Edit</a>
                    <a class="btn btn-danger" href="/Persons/Delete?userid= + @item.userid">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
